In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import math

# Data Wrangling1

In [2]:
#setting option to display full content rather than truncating at 50 characters
pd.set_option('display.max_colwidth', -1)

### Import Dataset

In [3]:
#import all datasets
df_master = pd.read_csv('data/df_master.csv')
df_name0 = pd.read_csv('data/df_name0.csv')
df_pr0 = pd.read_csv('data/df_pr0.csv')
df_rate0 = pd.read_csv('data/df_rate0.csv')

In [4]:
print(df_master.tail())
print(df_master.columns)

        Unnamed: 0     tconst titleType  \
523859  523859      tt9916622  movie
523860  523860      tt9916680  movie
523861  523861      tt9916706  movie
523862  523862      tt9916730  movie
523863  523863      tt9916754  movie

                                                    primaryTitle  isAdult  \
523859  Rodolpho Teóphilo - O Legado de um Pioneiro               0
523860  De la ilusión al desconcierto: cine colombiano 1970-1995  0
523861  Dankyavar Danka                                           0
523862  6 Gunn                                                    0
523863  Chico Albuquerque - Revelações                            0

        startYear  runtimeMinutes       genres            directors  \
523859  2015.0    NaN              Documentary  nm9272490,nm9272491
523860  2007.0     100.0           Documentary  nm0652213
523861  2013.0    NaN              Comedy       nm7764440
523862  2017.0     116.0           NaN          nm10538612
523863  2013.0    NaN              Documentary  nm9272490,nm8349149

                     writers
523859  nm9272490,nm9272491
523860  nm0652213,nm10538576
523861  nm7933903
523862  nm10538612
523863  nm8349149,nm9272490
Index(['Unnamed: 0', 'tconst', 'titleType', 'primaryTitle', 'isAdult',
       'startYear', 'runtimeMinutes', 'genres', 'directors', 'writers'],
      dtype='object')

### Dataset Cleanup Continues

In [5]:
#there is an Unnamed: 0 column that used to be index during Data Wrangling part. We'll remove this
df_master.drop("Unnamed: 0", axis=1, inplace=True)
print(df_master.columns)

Index(['tconst', 'titleType', 'primaryTitle', 'isAdult', 'startYear',
       'runtimeMinutes', 'genres', 'directors', 'writers'],
      dtype='object')

In [6]:
#we know the titleType column of the dataframe is now 'movie' for all rows. We'll remove this
print(df_master.titleType.unique())
df_master.drop("titleType", axis=1, inplace=True)

['movie']

In [7]:
#print(df_master.loc[df_master.startYear.isna()==True])
print(df_master.loc[500:700])

        tconst  \
500  tt0003832
501  tt0003836
502  tt0003838
503  tt0003840
504  tt0003854
505  tt0003856
506  tt0003859
507  tt0003866
508  tt0003867
509  tt0003869
510  tt0003870
511  tt0003871
512  tt0003874
513  tt0003875
514  tt0003877
515  tt0003878
516  tt0003883
517  tt0003884
518  tt0003886
519  tt0003887
520  tt0003888
521  tt0003889
522  tt0003890
523  tt0003891
524  tt0003893
525  tt0003897
526  tt0003924
527  tt0003925
528  tt0003927
529  tt0003929
..         ...
671  tt0004313
672  tt0004314
673  tt0004319
674  tt0004321
675  tt0004325
676  tt0004328
677  tt0004335
678  tt0004336
679  tt0004337
680  tt0004338
681  tt0004341
682  tt0004345
683  tt0004347
684  tt0004349
685  tt0004350
686  tt0004351
687  tt0004356
688  tt0004357
689  tt0004362
690  tt0004363
691  tt0004365
692  tt0004366
693  tt0004368
694  tt0004369
695  tt0004371
696  tt0004373
697  tt0004376
698  tt0004377
699  tt0004378
700  tt0004379

                                                       primaryTitle  isAdult  \
500  La deuda del pasado                                             0
501  Diego Corrientes                                                0
502  The Dishonored Medal                                            0
503  Doc                                                             0
504  Dodge City Trail                                                0
505  The Dollar Mark                                                 0
506  Dope                                                            0
507  Un drama en Aragón                                              0
508  Un drama en la montaña                                          0
509  The Dream Woman                                                 0
510  Judge Not                                                       0
511  The Eagle's Mate                                                0
512  La echadora de cartas                                           0
513  The Education of Mr. Pipp                                       0
514  Elizabeth's Prayer                                              0
515  O Embarque das Tropas Expedicionárias para Angola e Moçambique  0
516  L'enfant de Paris                                               0
517  Engelein                                                        0
518  Enoch Arden                                                     0
519  Entre ruinas                                                    0
520  The Envoy Extraordinary                                         0
521  Erstarrte Liebe                                                 0
522  The Escape                                                      0
523  Escaped from Siberia                                            0
524  Even Unto Death                                                 0
525  The Exploits of Elaine                                          0
526  Facing the Gattling Guns                                        0
527  A Factory Magdalen                                              0
528  A False Beauty                                                  0
529  Fantasma                                                        0
..        ...                                                       ..
671  The Master Key                                                  0
672  The Master Mind                                                 0
673  McVeagh of the South Seas                                       0
674  Memories                                                        0
675  The Merchant of Venice                                          0
676  Michael Strogoff                                                0
677  A Million Bid                                                   0
678  The Million Dollar Mystery                                      0
679  The Million Dollar Robbery                                      0
680  The Million                                                     0
681  The Minstrel Man                                                0
682  Misterio de dolor                                               0
683  A Modern Mephisto                                               0
684  The Money God                                                   0
685  The Money Lender                                                0
686  The Monster and the Girl                                        0
687  Mother Love                                                     0
688  A Mother's Heart                                                0
689  Mr. Barnes of New York                                          0
690  Mrs. Black Is Back                                              0
691  Mrs. Wiggs of the Cabbage Patch                                 0
692  Los muertos hablan                                              0
693  The Murdoch Trial                                               0
694  My Official Wife                                                0
695  The Mysterious Man of the Jungle                                0
696  The Mysterious Mr. Wu Chung Foo                                 0
697  The Mystery of Edwin Drood                                      0
698  Das Geheimnis von Chateau Richmond                              0
699  The Mystery of the Diamond Belt                                 0
700  The Mystery of the Fatal Pearl and the Sequel                   0

     startYear  runtimeMinutes                   genres  \
500  1914.0    NaN              NaN
501  1914.0    NaN              NaN
502  1914.0    NaN              Adventure
503  1914.0    NaN              Western
504  1936.0     56.0            Adventure,Music,Western
505  1914.0     50.0            Drama
506  1914.0    NaN              Drama
507  1914.0    NaN              NaN
508  1914.0    NaN              NaN
509  1914.0    NaN              Drama,Horror
510  1914.0     57.0            Drama
511  1914.0    NaN              Drama
512  1914.0    NaN              NaN
513  1914.0    NaN              Comedy
514  1914.0    NaN              Drama
515  1914.0    NaN              Documentary
516  1913.0     100.0           Crime,Drama
517  1914.0     49.0            Comedy
518  1914.0    NaN              Drama
519  1914.0    NaN              NaN
520  1914.0    NaN              Drama
521  1914.0    NaN              NaN
522  1914.0     60.0            Drama
523  1914.0    NaN              Drama
524  1914.0    NaN              Drama
525  1914.0    NaN              Action
526  1914.0    NaN              Drama
527  1914.0    NaN              Drama
528  1914.0    NaN              NaN
529  1914.0    NaN              Fantasy
..      ...     ..                  ...
671  1914.0    NaN              Action,Adventure,Drama
672  1914.0    NaN              Crime,Drama
673  1914.0     59.0            Drama
674  1914.0    NaN              Drama,Romance
675  1914.0    NaN              Drama
676  1914.0    NaN              Drama
677  1914.0    NaN              Drama,Romance
678  1914.0    NaN              Adventure,Mystery
679  1914.0    NaN              Drama
680  1914.0    NaN              Comedy,Drama
681  1914.0    NaN              NaN
682  1914.0     48.0            NaN
683  1914.0    NaN              NaN
684  1914.0    NaN              Drama
685  1914.0    NaN              Drama
686  1914.0    NaN              Drama
687  1914.0    NaN              Drama
688  1914.0    NaN              Drama
689  1914.0    NaN              Drama
690  1914.0    NaN              Comedy
691  1914.0    NaN              Drama
692  1915.0    NaN              Drama
693  1914.0    NaN              Crime,Drama
694  1914.0    NaN              Drama
695  1914.0    NaN              Adventure
696  1914.0    NaN              Drama
697  1914.0    NaN              Mystery
698  1913.0    NaN              Mystery
699  1914.0    NaN              Crime,Drama
700  1914.0    NaN              NaN

                                   directors  \
500  nm0550220
501  nm0550220
502  nm0127511
503  NaN
504  nm0170973
505  nm0526226
506  nm0509287
507  nm0550220
508  nm0865601
509  nm0349785
510  nm0803705
511  nm0456804
512  nm0550220
513  nm0352726
514  nm0403151
515  NaN
516  nm0674600
517  nm0300487
518  nm0621797
519  nm0550220,nm0063413
520  nm0426754
521  nm0296193
522  nm0000428
523  NaN
524  nm0357872
525  nm0782707,nm0309163,nm0923603,nm0923594
526  NaN
527  nm0098308
528  nm0827509
529  nm0780884
..         ...
671  nm0502752
672  nm0002177,nm0001124
673  nm0115450,nm0002503
674  nm1250355
675  nm0806565,nm0916665
676  nm0137407
677  nm0408433
678  nm0360617
679  nm0085133
680  nm0373614
681  NaN
682  nm0345217
683  NaN
684  nm0593010
685  NaN
686  nm0349785
687  nm0853193
688  NaN
689  nm0007221,nm0301252
690  nm0373614
691  nm0258197
692  nm0550220
693  nm0872868
694  nm0949648
695  nm0621817
696  NaN
697  nm0855912,nm0085133
698  nm2542573
699  nm0713223
700  nm0562004

                                     writers
500  NaN
501  nm0550220
502  NaN
503  nm0309557
504  nm0795851
505  nm0110394
506  nm0509287,nm0666286
507  NaN
508  nm0865602
509  nm0172741,nm0349785
510  nm0943285
511  nm0152156,nm0881333
512  nm0550220
513  nm0316890,nm0858501
514  nm0216696
515  NaN
516  nm0674600
517  nm0300487
518  nm0855139
519  nm0320618
520  nm0426754
521  NaN
522  nm0035854,nm0000428
523  NaN
524  NaN
525  nm0323766,nm0716103,nm0782707,nm0225458
526  NaN
527  NaN
528  NaN
529  nm0360123
..         ...
671  nm0502752,nm0933640
672  nm0073238,nm0169318
673  nm0002503
674  nm0700406
675  nm0000636,nm0916665
676  nm0476502,nm0894523
677  nm0078442,nm0237692,nm0408433
678  nm0518840,nm0569805
679  NaN
680  nm0077278,nm0347058,nm0881333
681  NaN
682  nm0345217
683  NaN
684  nm0593010
685  NaN
686  NaN
687  nm0853193
688  NaN
689  nm0348348,nm0612348
690  nm0387551,nm0881333
691  nm0723340,nm0282252
692  NaN
693  NaN
694  nm0078442,nm0767367
695  NaN
696  NaN
697  nm0002042,nm0855912
698  NaN
699  nm1348998
700  nm0562004

[201 rows x 8 columns]

We can see here that there are around 60000 rows with missing startYear value. But because these data are chronologically ordered we can make an educated assumption that the missing value will be close to the startYear value prior the missing data.

Initially, I thought about taking an avarage of the value prior and after the missing value but in case there are consecutive missing values, this will be difficult.
Is there an easy way?

In [8]:
#forward fill null values by ffill
df_master.startYear.fillna(method='ffill', inplace=True)

In [9]:
#check for null start year rows
df_master.loc[df_master.startYear.isna()==True]
print(df_master.startYear.isna().any())

False

Now we are checking for null in genre

In [10]:
print(df_master.genres.isna().sum())

71824

There are 71824 null values in genres column.  This isn't something we can fill so we will remove them

In [11]:
#removing all null rows with genres column NaN
df_master = df_master.dropna(subset=['genres'])

In [12]:
#after dropping we should be left with 523864-71824 = 452040 rows.
print(df_master.shape)

(452040, 8)

In [13]:
#let's take a look at the current df_master info now.
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 452040 entries, 0 to 523863
Data columns (total 8 columns):
tconst            452040 non-null object
primaryTitle      452040 non-null object
isAdult           452040 non-null int64
startYear         452040 non-null float64
runtimeMinutes    305590 non-null float64
genres            452040 non-null object
directors         415123 non-null object
writers           357509 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 31.0+ MB

Most of the important columns are without null values such as tconst, title, isAdult, startYear and Genres.
For runtime Minutes, we might be able to do a forward fill since the movie runtime wouldn't have been vastly different between the movies that were out in a similar time.

In [14]:
#finding min and max for runtimeMinutes
print(df_master.loc[df_master.runtimeMinutes.idxmax()])
print(df_master.loc[df_master.runtimeMinutes.idxmin()])

tconst            tt8273150
primaryTitle      Logistics
isAdult           0
startYear         2012
runtimeMinutes    51420
genres            Documentary
directors         nm9769428,nm8228052
writers           NaN
Name: 491913, dtype: object
tconst            tt0221032
primaryTitle      Branding Cattle
isAdult           0
startYear         1898
runtimeMinutes    1
genres            Documentary,Sci-Fi
directors         nm0924920
writers           NaN
Name: 131633, dtype: object

This reveals another interesting aspect about the data. Movie with a maximum runtime has 51420 which is 857 hours which is highly unlikely.  Also, the minimum runtime movie is a minute long which is unlikely as well.
There is a need to look into this field a bit more closely.

In [15]:
#extract runtimeminutes column to a series.
runtime_unique = sorted(df_master.runtimeMinutes.dropna().unique().tolist())
print(runtime_unique)

runtime = sorted(df_master.runtimeMinutes.dropna().tolist())
runtime_mean=math.ceil(sum(runtime)/len(runtime))
print(runtime_mean)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 133.0, 134.0, 135.0, 136.0, 137.0, 138.0, 139.0, 140.0, 141.0, 142.0, 143.0, 144.0, 145.0, 146.0, 147.0, 148.0, 149.0, 150.0, 151.0, 152.0, 153.0, 154.0, 155.0, 156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162.0, 163.0, 164.0, 165.0, 166.0, 167.0, 168.0, 169.0, 170.0, 171.0, 172.0, 173.0, 174.0, 175.0, 176.0, 177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 183.0, 184.0, 185.0, 186.0, 187.0, 188.0, 189.0, 190.0, 191.0, 192.0, 193.0, 194.0, 195.0, 196.0, 197.0, 198.0, 199.0, 200.0, 201.0, 202.0, 203.0, 204.0, 205.0, 206.0, 207.0, 208.0, 209.0, 210.0, 211.0, 212.0, 213.0, 214.0, 215.0, 216.0, 217.0, 218.0, 219.0, 220.0, 221.0, 222.0, 223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229.0, 230.0, 231.0, 232.0, 233.0, 234.0, 235.0, 236.0, 237.0, 238.0, 239.0, 240.0, 241.0, 242.0, 243.0, 244.0, 245.0, 246.0, 247.0, 248.0, 249.0, 250.0, 251.0, 252.0, 253.0, 254.0, 255.0, 256.0, 257.0, 258.0, 260.0, 261.0, 262.0, 263.0, 264.0, 265.0, 266.0, 267.0, 268.0, 269.0, 270.0, 271.0, 272.0, 273.0, 274.0, 275.0, 276.0, 277.0, 278.0, 279.0, 280.0, 281.0, 283.0, 284.0, 285.0, 287.0, 288.0, 289.0, 290.0, 291.0, 293.0, 294.0, 295.0, 296.0, 298.0, 299.0, 300.0, 301.0, 302.0, 303.0, 304.0, 305.0, 306.0, 308.0, 310.0, 311.0, 312.0, 313.0, 315.0, 316.0, 317.0, 319.0, 320.0, 321.0, 323.0, 324.0, 325.0, 328.0, 330.0, 332.0, 333.0, 334.0, 335.0, 336.0, 338.0, 340.0, 341.0, 345.0, 346.0, 350.0, 352.0, 353.0, 354.0, 356.0, 357.0, 358.0, 359.0, 360.0, 363.0, 364.0, 365.0, 366.0, 371.0, 374.0, 375.0, 378.0, 379.0, 380.0, 382.0, 383.0, 385.0, 388.0, 390.0, 395.0, 396.0, 398.0, 400.0, 402.0, 404.0, 406.0, 410.0, 411.0, 414.0, 416.0, 418.0, 420.0, 421.0, 422.0, 424.0, 426.0, 437.0, 440.0, 442.0, 447.0, 450.0, 460.0, 465.0, 467.0, 476.0, 480.0, 485.0, 489.0, 495.0, 500.0, 501.0, 520.0, 540.0, 545.0, 551.0, 566.0, 580.0, 600.0, 601.0, 605.0, 607.0, 613.0, 623.0, 625.0, 632.0, 653.0, 659.0, 660.0, 665.0, 675.0, 680.0, 700.0, 703.0, 720.0, 724.0, 729.0, 746.0, 761.0, 763.0, 780.0, 788.0, 808.0, 840.0, 842.0, 865.0, 873.0, 900.0, 912.0, 950.0, 990.0, 1035.0, 1100.0, 1115.0, 1151.0, 1179.0, 1184.0, 1200.0, 1260.0, 1320.0, 1428.0, 1440.0, 1452.0, 1500.0, 1559.0, 1669.0, 1800.0, 1834.0, 1970.0, 1972.0, 2160.0, 2323.0, 2382.0, 2400.0, 2880.0, 2905.0, 3077.0, 3122.0, 3450.0, 4080.0, 4200.0, 4980.0, 5220.0, 5460.0, 6000.0, 6017.0, 9000.0, 14400.0, 51420.0]
89

Originally, we were going to forward fill but it looks like the range is too big, ranging from 1min to 51420 minutes which would be outliers.  We will go with mean

In [16]:
#fill null values with mean
df_master.runtimeMinutes.fillna(runtime_mean, inplace=True)

In [17]:
#let's take a look at the info again.  
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 452040 entries, 0 to 523863
Data columns (total 8 columns):
tconst            452040 non-null object
primaryTitle      452040 non-null object
isAdult           452040 non-null int64
startYear         452040 non-null float64
runtimeMinutes    452040 non-null float64
genres            452040 non-null object
directors         415123 non-null object
writers           357509 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 51.0+ MB

Some writer columns can be null but we don't want to have any null directors.  Since this column is also something we cannot fill by assumption, we'll drop the null rows.

In [18]:
df_master = df_master.dropna(subset=['directors'])

In [19]:
#let's take a look at the info again.  
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415123 entries, 0 to 523863
Data columns (total 8 columns):
tconst            415123 non-null object
primaryTitle      415123 non-null object
isAdult           415123 non-null int64
startYear         415123 non-null float64
runtimeMinutes    415123 non-null float64
genres            415123 non-null object
directors         415123 non-null object
writers           336491 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 28.5+ MB

### Feature Engineering Genres Column

Before we move on, we need to deal with the genres column one more time.  The value for the column is a list of strings containing one or more genre components.
We will feature engineer the dataframe to add a column per genre and denote the genre inclusion by using 1 or 0 if not.

In [20]:
#derive just genres columns to make things easier
genres = df_master.genres
print(genres)
print(len(genres))

#since the index is out of place, we will reset them

genres.reset_index(inplace=True, drop=True)
print(genres)

0         Romance
1         Documentary,News,Sport
2         Biography,Drama
4         Biography,Crime,Drama
5         Drama
6         Drama
7         Drama
8         Drama
9         Adventure,Fantasy
10        Drama
11        Drama
24        Drama
26        Drama
33        Comedy
37        Drama,War
39        Documentary
47        Drama
49        Crime
57        Drama,Romance
59        Adventure,Drama
63        Drama
65        Drama
66        Drama
67        Biography,Drama,Family
68        Drama
69        Comedy
76        Drama,History
78        Drama,War
79        Documentary
82        Drama,History
              ...
523821    Drama
523823    Drama
523824    Documentary
523825    Action,Thriller
523830    Comedy
523831    Documentary
523832    Drama
523833    Thriller
523835    Comedy
523836    Musical
523837    Family
523839    Comedy,Drama,Fantasy
523840    Documentary
523842    Documentary
523844    Documentary
523845    Biography,Documentary,History
523847    Documentary
523848    Documentary
523849    Drama
523851    Documentary
523852    Thriller
523853    Drama,Thriller
523854    Thriller
523855    Drama
523856    Adventure,History,War
523857    Drama
523859    Documentary
523860    Documentary
523861    Comedy
523863    Documentary
Name: genres, Length: 415123, dtype: object
415123
0         Romance
1         Documentary,News,Sport
2         Biography,Drama
3         Biography,Crime,Drama
4         Drama
5         Drama
6         Drama
7         Drama
8         Adventure,Fantasy
9         Drama
10        Drama
11        Drama
12        Drama
13        Comedy
14        Drama,War
15        Documentary
16        Drama
17        Crime
18        Drama,Romance
19        Adventure,Drama
20        Drama
21        Drama
22        Drama
23        Biography,Drama,Family
24        Drama
25        Comedy
26        Drama,History
27        Drama,War
28        Documentary
29        Drama,History
              ...
415093    Drama
415094    Drama
415095    Documentary
415096    Action,Thriller
415097    Comedy
415098    Documentary
415099    Drama
415100    Thriller
415101    Comedy
415102    Musical
415103    Family
415104    Comedy,Drama,Fantasy
415105    Documentary
415106    Documentary
415107    Documentary
415108    Biography,Documentary,History
415109    Documentary
415110    Documentary
415111    Drama
415112    Documentary
415113    Thriller
415114    Drama,Thriller
415115    Thriller
415116    Drama
415117    Adventure,History,War
415118    Drama
415119    Documentary
415120    Documentary
415121    Comedy
415122    Documentary
Name: genres, Length: 415123, dtype: object

In [21]:
#this list will contain the type of genres available
gen_type=[]

In [22]:
#use to test the code below
test_gen=genres[:100]


#iterate through all elements in the genres series
for genre in genres:
    
    #some of them may contain more than one genre seperated by a comma. 
    if ',' in genre:
        
        #split multiple genres
        items = genre.split(',')
        for item in items:
            
            # having '-' as column names cause issues during our genre assignment in the next block.
            #So we will remove any non alphabet characters
            item=item.replace('-','')
            if item not in gen_type:
                
                gen_type.append(item)
            
    else:
        genre=genre.replace('-','')
        if genre not in gen_type:
            
            gen_type.append(genre)

print(gen_type)

['Romance', 'Documentary', 'News', 'Sport', 'Biography', 'Drama', 'Crime', 'Adventure', 'Fantasy', 'Comedy', 'War', 'Family', 'History', 'SciFi', 'Western', 'Thriller', 'Mystery', 'Horror', 'Action', 'Music', 'Short', 'Animation', 'Musical', 'FilmNoir', 'TalkShow', 'Adult', 'RealityTV', 'GameShow']

gen_type list now contains all of the different genre types available for our dataframe.
All of these different genre types will be a new column added to our dataframe.

In [23]:
test_df=df_master.copy()[:10]

#resets the index
test_df=test_df.reset_index(drop=True)

#this part is adding the columns and populating with 0 for now
for gen in gen_type:
    test_df[gen]=0
    
print(test_df['genres'])
print(test_df.columns)

0    Romance
1    Documentary,News,Sport
2    Biography,Drama
3    Biography,Crime,Drama
4    Drama
5    Drama
6    Drama
7    Drama
8    Adventure,Fantasy
9    Drama
Name: genres, dtype: object
Index(['tconst', 'primaryTitle', 'isAdult', 'startYear', 'runtimeMinutes',
       'genres', 'directors', 'writers', 'Romance', 'Documentary', 'News',
       'Sport', 'Biography', 'Drama', 'Crime', 'Adventure', 'Fantasy',
       'Comedy', 'War', 'Family', 'History', 'SciFi', 'Western', 'Thriller',
       'Mystery', 'Horror', 'Action', 'Music', 'Short', 'Animation', 'Musical',
       'FilmNoir', 'TalkShow', 'Adult', 'RealityTV', 'GameShow'],
      dtype='object')

Here, we will write a function that will iterate through all rows in dataframe to read the genres associated with each row then assign a value to corresponding column we added above.

In [24]:
def set_genre(df):

    '''This method takes in a dataframe and parses the genres column, 
    determines genre associated with each rows and assigns 1 to the correct genre column'''

    #using iterrows, we are iterating through all rows in the dataframe
    for index,row in df.iterrows():
        
        genre = row.genres.split(',')
        #print(genre)
        #print(df.iloc[index]['genres'])
       # df.Musical[index]=1
        
        for gen in genre:
            
            #we'll need to remove the '-' first
            gen=gen.replace('-','')
            
            if gen == 'Romance':
 
                df.Romance[index]=1
                
            elif gen == 'Documentary':

                df.Documentary[index] =1
            elif gen == 'News':
                df.News[index]=1
            elif gen == 'Sport':
                df.Sport[index]=1
            elif gen == 'Biography':
                df.Biography[index]=1
            elif gen == 'Drama':
                df.Drama[index]=1
            elif gen == 'Crime':
                df.Crime[index]=1
            elif gen == 'Adventure':
                df.Adventure[index]=1
            elif gen == 'Fantasy':
                df.Fantasy[index]=1
            elif gen == 'Comedy':
                df.Comedy[index]=1
            elif gen == 'War':
                df.War[index]=1
            elif gen =='Family':
                df.Family[index]=1
            elif gen == 'History':
                df.History[index]=1
            elif gen == 'SciFi':
                df.SciFi[index]=1
            elif gen == 'Western':
                df.Western[index]=1
            elif gen == 'Thriller':
                df.Thriller[index]=1
            elif gen == 'Mystery':
                df.Mystery[index]=1
            elif gen == 'Horror':
                df.Horror[index]=1
            elif gen == 'Action':
                df.Action[index]=1
            elif gen == 'Music':
                df.Music[index]=1
            elif gen == 'Short':
                df.Short[index]=1
            elif gen == 'Animation':
                df.Animation[index]=1
            elif gen =='Musical':
                df.Musical[index]=1
            elif gen == 'FilmNoir':
                df.FilmNoir[index]=1
            elif gen == 'TalkShow':
                df.TalkShow[index]=1
            elif gen == 'Adult':
                df.Adult[index]=1
            elif gen =='RealityTV':
                df.RealityTV[index]=1
            elif gen =='GameShow':
                df.GameShow[index]=1
            else:
                print('something is not right: '+gen)
    return df

    
#we'll test with the test_df first
set_genre(test_df)
print(test_df['genres'])
print(test_df.loc[:,['Romance','Documentary','News','Sport','Drama','Biography','Crime','Fantasy','Adventure']])

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0    Romance
1    Documentary,News,Sport
2    Biography,Drama
3    Biography,Crime,Drama
4    Drama
5    Drama
6    Drama
7    Drama
8    Adventure,Fantasy
9    Drama
Name: genres, dtype: object
   Romance  Documentary  News  Sport  Drama  Biography  Crime  Fantasy  \
0  1        0            0     0      0      0          0      0
1  0        1            1     1      0      0          0      0
2  0        0            0     0      1      1          0      0
3  0        0            0     0      1      1          1      0
4  0        0            0     0      1      0          0      0
5  0        0            0     0      1      0          0      0
6  0        0            0     0      1      0          0      0
7  0        0            0     0      1      0          0      0
8  0        0            0     0      0      0          0      1
9  0        0            0     0      1      0          0      0

   Adventure
0  0
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  1
9  0

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

It looks like the method is working correctly.  Printing the genres and the feature engineered columns together shows that the translation was done successfully.

Now we will do this to the df_master. Currently df_master has not undergone any column addition. Let's start with that.

In [25]:
print(df_master.info())
print(df_master.head())

print(gen_type)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415123 entries, 0 to 523863
Data columns (total 8 columns):
tconst            415123 non-null object
primaryTitle      415123 non-null object
isAdult           415123 non-null int64
startYear         415123 non-null float64
runtimeMinutes    415123 non-null float64
genres            415123 non-null object
directors         415123 non-null object
writers           336491 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 28.5+ MB
None
      tconst                   primaryTitle  isAdult  startYear  \
0  tt0000009  Miss Jerry                     0        1894.0
1  tt0000147  The Corbett-Fitzsimmons Fight  0        1897.0
2  tt0000335  Soldiers of the Cross          0        1900.0
4  tt0000574  The Story of the Kelly Gang    0        1906.0
5  tt0000615  Robbery Under Arms             0        1907.0

   runtimeMinutes                  genres            directors  \
0  45.0            Romance                 nm0085156
1  20.0            Documentary,News,Sport  nm0714557
2  89.0            Biography,Drama         nm0095714,nm0675140
4  70.0            Biography,Crime,Drama   nm0846879
5  89.0            Drama                   nm0533958

               writers
0  nm0085156
1  NaN
2  NaN
4  nm0846879
5  nm0092809,nm0533958
['Romance', 'Documentary', 'News', 'Sport', 'Biography', 'Drama', 'Crime', 'Adventure', 'Fantasy', 'Comedy', 'War', 'Family', 'History', 'SciFi', 'Western', 'Thriller', 'Mystery', 'Horror', 'Action', 'Music', 'Short', 'Animation', 'Musical', 'FilmNoir', 'TalkShow', 'Adult', 'RealityTV', 'GameShow']

In [26]:
#to make things tidier, we will start by resetting the index
df_master=df_master.reset_index(drop=True)

#this part is adding the columns and populating with 0 for now
#gen_type list is already created for us. We can reuse this.
for gen in gen_type:
    df_master[gen]=0
    
print(df_master.columns)
print(df_master.info())

Index(['tconst', 'primaryTitle', 'isAdult', 'startYear', 'runtimeMinutes',
       'genres', 'directors', 'writers', 'Romance', 'Documentary', 'News',
       'Sport', 'Biography', 'Drama', 'Crime', 'Adventure', 'Fantasy',
       'Comedy', 'War', 'Family', 'History', 'SciFi', 'Western', 'Thriller',
       'Mystery', 'Horror', 'Action', 'Music', 'Short', 'Animation', 'Musical',
       'FilmNoir', 'TalkShow', 'Adult', 'RealityTV', 'GameShow'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415123 entries, 0 to 415122
Data columns (total 36 columns):
tconst            415123 non-null object
primaryTitle      415123 non-null object
isAdult           415123 non-null int64
startYear         415123 non-null float64
runtimeMinutes    415123 non-null float64
genres            415123 non-null object
directors         415123 non-null object
writers           336491 non-null object
Romance           415123 non-null int64
Documentary       415123 non-null int64
News              415123 non-null int64
Sport             415123 non-null int64
Biography         415123 non-null int64
Drama             415123 non-null int64
Crime             415123 non-null int64
Adventure         415123 non-null int64
Fantasy           415123 non-null int64
Comedy            415123 non-null int64
War               415123 non-null int64
Family            415123 non-null int64
History           415123 non-null int64
SciFi             415123 non-null int64
Western           415123 non-null int64
Thriller          415123 non-null int64
Mystery           415123 non-null int64
Horror            415123 non-null int64
Action            415123 non-null int64
Music             415123 non-null int64
Short             415123 non-null int64
Animation         415123 non-null int64
Musical           415123 non-null int64
FilmNoir          415123 non-null int64
TalkShow          415123 non-null int64
Adult             415123 non-null int64
RealityTV         415123 non-null int64
GameShow          415123 non-null int64
dtypes: float64(2), int64(29), object(5)
memory usage: 114.0+ MB
None

All genres have been successfully added to the dataframe.  Next up, translating genres column to our feature engineered columns.

In [28]:
df_copy = df_master.copy()

df_copy = df_copy[:1000]
print(df_copy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 36 columns):
tconst            1000 non-null object
primaryTitle      1000 non-null object
isAdult           1000 non-null int64
startYear         1000 non-null float64
runtimeMinutes    1000 non-null float64
genres            1000 non-null object
directors         1000 non-null object
writers           871 non-null object
Romance           1000 non-null int64
Documentary       1000 non-null int64
News              1000 non-null int64
Sport             1000 non-null int64
Biography         1000 non-null int64
Drama             1000 non-null int64
Crime             1000 non-null int64
Adventure         1000 non-null int64
Fantasy           1000 non-null int64
Comedy            1000 non-null int64
War               1000 non-null int64
Family            1000 non-null int64
History           1000 non-null int64
SciFi             1000 non-null int64
Western           1000 non-null int64
Thriller          1000 non-null int64
Mystery           1000 non-null int64
Horror            1000 non-null int64
Action            1000 non-null int64
Music             1000 non-null int64
Short             1000 non-null int64
Animation         1000 non-null int64
Musical           1000 non-null int64
FilmNoir          1000 non-null int64
TalkShow          1000 non-null int64
Adult             1000 non-null int64
RealityTV         1000 non-null int64
GameShow          1000 non-null int64
dtypes: float64(2), int64(29), object(5)
memory usage: 281.3+ KB
None

In [29]:
#set_genre method has already been declared and tested above. We'll just call the method.
set_genre(df_copy)

#print(df_copy.loc[100:110])

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,tconst,primaryTitle,isAdult,startYear,runtimeMinutes,genres,directors,writers,Romance,Documentary,...,Action,Music,Short,Animation,Musical,FilmNoir,TalkShow,Adult,RealityTV,GameShow
0,tt0000009,Miss Jerry,0,1894.0,45.0,Romance,nm0085156,nm0085156,1,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0000147,The Corbett-Fitzsimmons Fight,0,1897.0,20.0,"Documentary,News,Sport",nm0714557,NaN,0,1,...,0,0,0,0,0,0,0,0,0,0
2,tt0000335,Soldiers of the Cross,0,1900.0,89.0,"Biography,Drama","nm0095714,nm0675140",NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
3,tt0000574,The Story of the Kelly Gang,0,1906.0,70.0,"Biography,Crime,Drama",nm0846879,nm0846879,0,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0000615,Robbery Under Arms,0,1907.0,89.0,Drama,nm0533958,"nm0092809,nm0533958",0,0,...,0,0,0,0,0,0,0,0,0,0
5,tt0000630,Hamlet,0,1908.0,89.0,Drama,nm0143333,nm0000636,0,0,...,0,0,0,0,0,0,0,0,0,0
6,tt0000675,Don Quijote,0,1908.0,89.0,Drama,nm0194088,nm0148859,0,0,...,0,0,0,0,0,0,0,0,0,0
7,tt0000676,Don Álvaro o la fuerza del sino,0,1908.0,89.0,Drama,nm0194088,nm0729044,0,0,...,0,0,0,0,0,0,0,0,0,0
8,tt0000679,The Fairylogue and Radio-Plays,0,1908.0,120.0,"Adventure,Fantasy","nm0091767,nm0877783","nm0000875,nm0877783",0,0,...,0,0,0,0,0,0,0,0,0,0
9,tt0000739,El pastorcito de Torrente,0,1908.0,89.0,Drama,nm0191133,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
10,tt0000793,Andreas Hofer,0,1909.0,89.0,Drama,nm0081288,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
11,tt0000886,"Hamlet, Prince of Denmark",0,1910.0,89.0,Drama,nm0099901,nm0000636,0,0,...,0,0,0,0,0,0,0,0,0,0
12,tt0000941,Locura de amor,0,1909.0,89.0,Drama,"nm0550220,nm0063413","nm0063413,nm0550220,nm0848502",0,0,...,0,0,0,0,0,0,0,0,0,0
13,tt0001028,Salome Mad,0,1909.0,89.0,Comedy,nm0294276,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
14,tt0001049,Gøngehøvdingen,0,1909.0,89.0,"Drama,War",nm0022607,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
15,tt0001059,O Terremoto de Benavente,0,1909.0,89.0,Documentary,nm0826298,NaN,0,1,...,0,0,0,0,0,0,0,0,0,0
16,tt0001112,Amleto,0,1910.0,89.0,Drama,nm0143333,nm0000636,0,0,...,0,0,0,0,0,0,0,0,0,0
17,tt0001115,Ansigttyven I,0,1910.0,89.0,Crime,nm0375839,nm0306604,0,0,...,0,0,0,0,0,0,0,0,0,0
18,tt0001175,Camille,0,1912.0,89.0,"Drama,Romance","nm0130633,nm0580197,nm0693516","nm0241414,nm0693516",1,0,...,0,0,0,0,0,0,0,0,0,0
19,tt0001184,Don Juan de Serrallonga,0,1910.0,58.0,"Adventure,Drama","nm0063413,nm0550220",nm0049370,0,0,...,0,0,0,0,0,0,0,0,0,0
20,tt0001240,Hamlet,0,1911.0,89.0,Drama,nm0088881,nm0000636,0,0,...,0,0,0,0,0,0,0,0,0,0
21,tt0001258,The White Slave Trade,0,1910.0,45.0,Drama,nm0088881,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
22,tt0001277,Kapergasten,0,1910.0,89.0,Drama,nm0169878,nm0375839,0,0,...,0,0,0,0,0,0,0,0,0,0
23,tt0001285,The Life of Moses,0,1909.0,50.0,"Biography,Drama,Family",nm0085865,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
24,tt0001338,A Night in May,0,1910.0,89.0,Drama,nm0471787,"nm0698839,nm0324690",0,0,...,0,0,0,0,0,0,0,0,0,0
25,tt0001341,Jarní sen starého mládence,0,1913.0,89.0,Comedy,nm1024681,nm1024681,0,0,...,0,0,0,0,0,0,0,0,0,0
26,tt0001370,Rainha Depois de Morta Inês de Castro,0,1910.0,89.0,"Drama,History",nm0764002,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
27,tt0001381,En rekrut fra 64,0,1910.0,89.0,"Drama,War","nm0300487,nm1003261",NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
28,tt0001382,Revolução de 5 de Outubro,0,1910.0,89.0,Documentary,nm0182052,NaN,0,1,...,0,0,0,0,0,0,0,0,0,0
29,tt0001440,Valdemar Sejr,0,1910.0,89.0,"Drama,History",nm0375839,"nm0375839,nm1206972",0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,tt0006000,Salvation Nell,0,1915.0,89.0,Drama,nm3168648,"nm0668813,nm0791017",0,0,...,0,0,0,0,0,0,0,0,0,0
971,tt0006001,"Sam Davis, the Hero of Tennessee",0,1915.0,89.0,"Drama,History",nm4720696,nm0790489,0,0,...,0,0,0,0,0,0,0,0,0,0
972,tt0006002,Samson,0,1915.0,50.0,"Action,Crime,Drama",nm0507150,nm0077056,0,0,...,1,0,0,0,0,0,0,0,0,0
973,tt0006004,Satan Sanderson,0,1915.0,89.0,"Drama,Romance",nm0633605,nm0729596,1,0,...,0,0,0,0,0,0,0,0,0,0
974,tt0006007,Saved from the Harem,0,1915.0,89.0,"Adventure,Drama",nm0578507,"nm0478752,nm0578507",0,0,...,0,0,0,0,0,0,0,0,0,0
975,tt0006008,Scandal,0,1915.0,50.0,Drama,"nm0916665,nm0806565",nm0916665,0,0,...,0,0,0,0,0,0,0,0,0,0
976,tt0006010,The Scarlet Sin,0,1915.0,89.0,Drama,nm0877783,"nm0206755,nm0697880",0,0,...,0,0,0,0,0,0,0,0,0,0
977,tt0006011,Schlemihl,0,1915.0,89.0,Drama,nm0652650,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
978,tt0006012,The Scorpion's Sting,0,1915.0,89.0,"Drama,Fantasy",nm0621797,nm0847967,0,0,...,0,0,0,0,0,0,0,0,0,0
979,tt0006014,Sealed Lips,0,1915.0,89.0,Drama,nm0408429,"nm0174387,nm0336824",0,0,...,0,0,0,0,0,0,0,0,0,0
980,tt0006015,Sealed Valley,0,1915.0,89.0,Western,nm0569261,nm0285248,0,0,...,0,0,0,0,0,0,0,0,0,0
981,tt0006016,The Second in Command,0,1915.0,89.0,Drama,nm0101413,"nm0551129,nm0881333",0,0,...,0,0,0,0,0,0,0,0,0,0
982,tt0006017,The Secret Orchard,0,1915.0,89.0,Drama,nm0717046,"nm0689638,nm0210352",0,0,...,0,0,0,0,0,0,0,0,0,0
983,tt0006019,The Secret Seven,0,1914.0,89.0,"Crime,Drama",nm0130791,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
984,tt0006020,The Secret Sin,0,1915.0,89.0,Drama,nm0717046,nm0877332,0,0,...,0,0,0,0,0,0,0,0,0,0
985,tt0006021,The Secretary of Frivolous Affairs,0,1915.0,89.0,"Drama,Romance",nm0725529,"nm0299422,nm0725529",1,0,...,0,0,0,0,0,0,0,0,0,0
986,tt0006023,Semana santa en Tarragona,0,1915.0,89.0,Documentary,nm0005717,NaN,0,1,...,0,0,0,0,0,0,0,0,0,0
987,tt0006024,The Senator,0,1915.0,89.0,Drama,nm0325448,nm0742571,0,0,...,0,0,0,0,0,0,0,0,0,0
988,tt0006025,The Sentimental Lady,0,1915.0,89.0,Drama,nm0250480,"nm0205244,nm0916906",0,0,...,0,0,0,0,0,0,0,0,0,0
989,tt0006027,The Seven Sisters,0,1915.0,50.0,"Comedy,Romance",nm0646058,"nm3168614,nm0378772",1,0,...,0,0,0,0,0,0,0,0,0,0
990,tt0006030,The Shadows of a Great City,0,1915.0,89.0,Drama,nm0085133,"nm0085133,nm0388795,nm0420198,nm0792989",0,0,...,0,0,0,0,0,0,0,0,0,0
991,tt0006037,The Shooting of Dan McGrew,0,1915.0,89.0,Drama,nm0085133,"nm3657142,nm0388795,nm0785827",0,0,...,0,0,0,0,0,0,0,0,0,0
992,tt0006038,Should a Mother Tell,0,1915.0,89.0,Drama,nm0250053,nm0002271,0,0,...,0,0,0,0,0,0,0,0,0,0
993,tt0006039,Should a Wife Forgive?,0,1915.0,50.0,Drama,nm0454771,nm0397412,0,0,...,0,0,0,0,0,0,0,0,0,0
994,tt0006040,The Folly of Desire,0,1915.0,89.0,Drama,nm0875869,"nm0039418,nm0039422,nm0287593,nm0461241",0,0,...,0,0,0,0,0,0,0,0,0,0
995,tt0006041,La signora delle camelie,0,1915.0,89.0,Drama,nm0624511,"nm0241414,nm0624511",0,0,...,0,0,0,0,0,0,0,0,0,0
996,tt0006042,The Silent Command,0,1915.0,89.0,Mystery,nm0502752,nm0502752,0,0,...,0,0,0,0,0,0,0,0,0,0
997,tt0006043,The Silent Voice,0,1915.0,89.0,"Drama,Romance",nm0101413,"nm0329136,nm0293187,nm0881333",1,0,...,0,0,0,0,0,0,0,0,0,0
998,tt0006046,Silver Threads Among the Gold,0,1915.0,89.0,Drama,nm0455544,nm0455544,0,0,...,0,0,0,0,0,0,0,0,0,0
999,tt0006048,"Simon, the Jester",0,1915.0,89.0,Drama,nm0430968,"nm0516810,nm0782707",0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
#At this point, we have run into an unusual issue using jupyter notebook.
#runing the set_genre method on a dataframe with more than 10000 records at one time will cause the compiler to hang.
#We have tested above that 10000 records works.
#So we will divide the dataframe into chunks of 10000 records and later concatenate them together. 

#df_test used for test
#df_test = df_copy.copy()[:2567]

n = 1000  #chunk row size

#list comprehension to divide the dataframe
list_df = [df_master[i:i+n] for i in range(0,df_master.shape[0],n)]

#test to make sure the all data are captured until the end
print(list_df[415].tconst.tail())
print(df_master.tconst.tail())

print(len(list_df))

415118    tt9916538
415119    tt9916622
415120    tt9916680
415121    tt9916706
415122    tt9916754
Name: tconst, dtype: object
415118    tt9916538
415119    tt9916622
415120    tt9916680
415121    tt9916706
415122    tt9916754
Name: tconst, dtype: object
416

In [37]:
#Now that the list of sub dataframes are ready we can itercall set_genre on each sub dataframes.

for i in range(len(list_df)):
    list_df[i]=set_genre(list_df[i])
    print('out of ' + str(len(list_df)) +', '+str(i)+' dataframe finished')
    

#concatenating the sub dataframes back together.
df_concat= pd.concat(list_df)

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

out of 416, 0 dataframe finished

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

out of 416, 1 dataframe finished
out of 416, 2 dataframe finished

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

out of 416, 3 dataframe finished
out of 416, 4 dataframe finished
out of 416, 5 dataframe finished
out of 416, 6 dataframe finished
out of 416, 7 dataframe finished

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

out of 416, 8 dataframe finished
out of 416, 9 dataframe finished
out of 416, 10 dataframe finished
out of 416, 11 dataframe finished
out of 416, 12 dataframe finished
out of 416, 13 dataframe finished
out of 416, 14 dataframe finished
out of 416, 15 dataframe finished
out of 416, 16 dataframe finished
out of 416, 17 dataframe finished
out of 416, 18 dataframe finished
out of 416, 19 dataframe finished
out of 416, 20 dataframe finished
out of 416, 21 dataframe finished
out of 416, 22 dataframe finished
out of 416, 23 dataframe finished
out of 416, 24 dataframe finished
out of 416, 25 dataframe finished
out of 416, 26 dataframe finished
out of 416, 27 dataframe finished

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

out of 416, 28 dataframe finished
out of 416, 29 dataframe finished
out of 416, 30 dataframe finished
out of 416, 31 dataframe finished
out of 416, 32 dataframe finished
out of 416, 33 dataframe finished
out of 416, 34 dataframe finished
out of 416, 35 dataframe finished
out of 416, 36 dataframe finished
out of 416, 37 dataframe finished
out of 416, 38 dataframe finished
out of 416, 39 dataframe finished
out of 416, 40 dataframe finished

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

out of 416, 41 dataframe finished
out of 416, 42 dataframe finished
out of 416, 43 dataframe finished
out of 416, 44 dataframe finished
out of 416, 45 dataframe finished
out of 416, 46 dataframe finished

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

out of 416, 47 dataframe finished
out of 416, 48 dataframe finished
out of 416, 49 dataframe finished
out of 416, 50 dataframe finished
out of 416, 51 dataframe finished
out of 416, 52 dataframe finished
out of 416, 53 dataframe finished
out of 416, 54 dataframe finished
out of 416, 55 dataframe finished
out of 416, 56 dataframe finished
out of 416, 57 dataframe finished
out of 416, 58 dataframe finished
out of 416, 59 dataframe finished
out of 416, 60 dataframe finished
out of 416, 61 dataframe finished
out of 416, 62 dataframe finished
out of 416, 63 dataframe finished
out of 416, 64 dataframe finished
out of 416, 65 dataframe finished
out of 416, 66 dataframe finished
out of 416, 67 dataframe finished
out of 416, 68 dataframe finished
out of 416, 69 dataframe finished
out of 416, 70 dataframe finished
out of 416, 71 dataframe finished
out of 416, 72 dataframe finished
out of 416, 73 dataframe finished
out of 416, 74 dataframe finished
out of 416, 75 dataframe finished
out of 416, 76 dataframe finished
out of 416, 77 dataframe finished
out of 416, 78 dataframe finished
out of 416, 79 dataframe finished
out of 416, 80 dataframe finished
out of 416, 81 dataframe finished
out of 416, 82 dataframe finished
out of 416, 83 dataframe finished
out of 416, 84 dataframe finished
out of 416, 85 dataframe finished
out of 416, 86 dataframe finished
out of 416, 87 dataframe finished
out of 416, 88 dataframe finished
out of 416, 89 dataframe finished
out of 416, 90 dataframe finished
out of 416, 91 dataframe finished
out of 416, 92 dataframe finished
out of 416, 93 dataframe finished
out of 416, 94 dataframe finished
out of 416, 95 dataframe finished
out of 416, 96 dataframe finished
out of 416, 97 dataframe finished
out of 416, 98 dataframe finished
out of 416, 99 dataframe finished
out of 416, 100 dataframe finished
out of 416, 101 dataframe finished
out of 416, 102 dataframe finished
out of 416, 103 dataframe finished
out of 416, 104 dataframe finished
out of 416, 105 dataframe finished
out of 416, 106 dataframe finished
out of 416, 107 dataframe finished
out of 416, 108 dataframe finished
out of 416, 109 dataframe finished
out of 416, 110 dataframe finished
out of 416, 111 dataframe finished
out of 416, 112 dataframe finished
out of 416, 113 dataframe finished
out of 416, 114 dataframe finished
out of 416, 115 dataframe finished
out of 416, 116 dataframe finished
out of 416, 117 dataframe finished
out of 416, 118 dataframe finished
out of 416, 119 dataframe finished
out of 416, 120 dataframe finished
out of 416, 121 dataframe finished
out of 416, 122 dataframe finished
out of 416, 123 dataframe finished
out of 416, 124 dataframe finished
out of 416, 125 dataframe finished
out of 416, 126 dataframe finished
out of 416, 127 dataframe finished
out of 416, 128 dataframe finished
out of 416, 129 dataframe finished
out of 416, 130 dataframe finished
out of 416, 131 dataframe finished
out of 416, 132 dataframe finished
out of 416, 133 dataframe finished
out of 416, 134 dataframe finished
out of 416, 135 dataframe finished
out of 416, 136 dataframe finished
out of 416, 137 dataframe finished
out of 416, 138 dataframe finished
out of 416, 139 dataframe finished
out of 416, 140 dataframe finished
out of 416, 141 dataframe finished
out of 416, 142 dataframe finished
out of 416, 143 dataframe finished
out of 416, 144 dataframe finished
out of 416, 145 dataframe finished
out of 416, 146 dataframe finished
out of 416, 147 dataframe finished
out of 416, 148 dataframe finished
out of 416, 149 dataframe finished
out of 416, 150 dataframe finished
out of 416, 151 dataframe finished
out of 416, 152 dataframe finished
out of 416, 153 dataframe finished
out of 416, 154 dataframe finished
out of 416, 155 dataframe finished
out of 416, 156 dataframe finished
out of 416, 157 dataframe finished
out of 416, 158 dataframe finished
out of 416, 159 dataframe finished
out of 416, 160 dataframe finished
out of 416, 161 dataframe finished
out of 416, 162 dataframe finished
out of 416, 163 dataframe finished
out of 416, 164 dataframe finished
out of 416, 165 dataframe finished
out of 416, 166 dataframe finished
out of 416, 167 dataframe finished
out of 416, 168 dataframe finished
out of 416, 169 dataframe finished
out of 416, 170 dataframe finished
out of 416, 171 dataframe finished
out of 416, 172 dataframe finished
out of 416, 173 dataframe finished
out of 416, 174 dataframe finished
out of 416, 175 dataframe finished
out of 416, 176 dataframe finished
out of 416, 177 dataframe finished
out of 416, 178 dataframe finished
out of 416, 179 dataframe finished
out of 416, 180 dataframe finished
out of 416, 181 dataframe finished
out of 416, 182 dataframe finished
out of 416, 183 dataframe finished
out of 416, 184 dataframe finished
out of 416, 185 dataframe finished
out of 416, 186 dataframe finished
out of 416, 187 dataframe finished
out of 416, 188 dataframe finished
out of 416, 189 dataframe finished
out of 416, 190 dataframe finished
out of 416, 191 dataframe finished
out of 416, 192 dataframe finished
out of 416, 193 dataframe finished
out of 416, 194 dataframe finished
out of 416, 195 dataframe finished
out of 416, 196 dataframe finished
out of 416, 197 dataframe finished
out of 416, 198 dataframe finished
out of 416, 199 dataframe finished
out of 416, 200 dataframe finished
out of 416, 201 dataframe finished
out of 416, 202 dataframe finished
out of 416, 203 dataframe finished
out of 416, 204 dataframe finished
out of 416, 205 dataframe finished
out of 416, 206 dataframe finished
out of 416, 207 dataframe finished
out of 416, 208 dataframe finished
out of 416, 209 dataframe finished
out of 416, 210 dataframe finished
out of 416, 211 dataframe finished
out of 416, 212 dataframe finished
out of 416, 213 dataframe finished
out of 416, 214 dataframe finished
out of 416, 215 dataframe finished
out of 416, 216 dataframe finished
out of 416, 217 dataframe finished
out of 416, 218 dataframe finished
out of 416, 219 dataframe finished
out of 416, 220 dataframe finished
out of 416, 221 dataframe finished
out of 416, 222 dataframe finished
out of 416, 223 dataframe finished
out of 416, 224 dataframe finished
out of 416, 225 dataframe finished
out of 416, 226 dataframe finished
out of 416, 227 dataframe finished
out of 416, 228 dataframe finished
out of 416, 229 dataframe finished
out of 416, 230 dataframe finished
out of 416, 231 dataframe finished
out of 416, 232 dataframe finished
out of 416, 233 dataframe finished
out of 416, 234 dataframe finished
out of 416, 235 dataframe finished
out of 416, 236 dataframe finished
out of 416, 237 dataframe finished
out of 416, 238 dataframe finished
out of 416, 239 dataframe finished
out of 416, 240 dataframe finished
out of 416, 241 dataframe finished
out of 416, 242 dataframe finished

/Users/byungchankim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

out of 416, 243 dataframe finished
out of 416, 244 dataframe finished
out of 416, 245 dataframe finished
out of 416, 246 dataframe finished
out of 416, 247 dataframe finished
out of 416, 248 dataframe finished
out of 416, 249 dataframe finished
out of 416, 250 dataframe finished
out of 416, 251 dataframe finished
out of 416, 252 dataframe finished
out of 416, 253 dataframe finished
out of 416, 254 dataframe finished
out of 416, 255 dataframe finished
out of 416, 256 dataframe finished
out of 416, 257 dataframe finished
out of 416, 258 dataframe finished
out of 416, 259 dataframe finished
out of 416, 260 dataframe finished
out of 416, 261 dataframe finished
out of 416, 262 dataframe finished
out of 416, 263 dataframe finished
out of 416, 264 dataframe finished
out of 416, 265 dataframe finished
out of 416, 266 dataframe finished
out of 416, 267 dataframe finished
out of 416, 268 dataframe finished
out of 416, 269 dataframe finished
out of 416, 270 dataframe finished
out of 416, 271 dataframe finished
out of 416, 272 dataframe finished
out of 416, 273 dataframe finished
out of 416, 274 dataframe finished
out of 416, 275 dataframe finished
out of 416, 276 dataframe finished
out of 416, 277 dataframe finished
out of 416, 278 dataframe finished
out of 416, 279 dataframe finished
out of 416, 280 dataframe finished
out of 416, 281 dataframe finished
out of 416, 282 dataframe finished
out of 416, 283 dataframe finished
out of 416, 284 dataframe finished
out of 416, 285 dataframe finished
out of 416, 286 dataframe finished
out of 416, 287 dataframe finished
out of 416, 288 dataframe finished
out of 416, 289 dataframe finished
out of 416, 290 dataframe finished
out of 416, 291 dataframe finished
out of 416, 292 dataframe finished
out of 416, 293 dataframe finished
out of 416, 294 dataframe finished
out of 416, 295 dataframe finished
out of 416, 296 dataframe finished
out of 416, 297 dataframe finished
out of 416, 298 dataframe finished
out of 416, 299 dataframe finished
out of 416, 300 dataframe finished
out of 416, 301 dataframe finished
out of 416, 302 dataframe finished
out of 416, 303 dataframe finished
out of 416, 304 dataframe finished
out of 416, 305 dataframe finished
out of 416, 306 dataframe finished
out of 416, 307 dataframe finished
out of 416, 308 dataframe finished
out of 416, 309 dataframe finished
out of 416, 310 dataframe finished
out of 416, 311 dataframe finished
out of 416, 312 dataframe finished
out of 416, 313 dataframe finished
out of 416, 314 dataframe finished
out of 416, 315 dataframe finished
out of 416, 316 dataframe finished
out of 416, 317 dataframe finished
out of 416, 318 dataframe finished
out of 416, 319 dataframe finished
out of 416, 320 dataframe finished
out of 416, 321 dataframe finished
out of 416, 322 dataframe finished
out of 416, 323 dataframe finished
out of 416, 324 dataframe finished
out of 416, 325 dataframe finished
out of 416, 326 dataframe finished
out of 416, 327 dataframe finished
out of 416, 328 dataframe finished
out of 416, 329 dataframe finished
out of 416, 330 dataframe finished
out of 416, 331 dataframe finished
out of 416, 332 dataframe finished
out of 416, 333 dataframe finished
out of 416, 334 dataframe finished
out of 416, 335 dataframe finished
out of 416, 336 dataframe finished
out of 416, 337 dataframe finished
out of 416, 338 dataframe finished
out of 416, 339 dataframe finished
out of 416, 340 dataframe finished
out of 416, 341 dataframe finished
out of 416, 342 dataframe finished
out of 416, 343 dataframe finished
out of 416, 344 dataframe finished
out of 416, 345 dataframe finished
out of 416, 346 dataframe finished
out of 416, 347 dataframe finished
out of 416, 348 dataframe finished
out of 416, 349 dataframe finished
out of 416, 350 dataframe finished
out of 416, 351 dataframe finished
out of 416, 352 dataframe finished
out of 416, 353 dataframe finished
out of 416, 354 dataframe finished
out of 416, 355 dataframe finished
out of 416, 356 dataframe finished
out of 416, 357 dataframe finished
out of 416, 358 dataframe finished
out of 416, 359 dataframe finished
out of 416, 360 dataframe finished
out of 416, 361 dataframe finished
out of 416, 362 dataframe finished
out of 416, 363 dataframe finished
out of 416, 364 dataframe finished
out of 416, 365 dataframe finished
out of 416, 366 dataframe finished
out of 416, 367 dataframe finished
out of 416, 368 dataframe finished
out of 416, 369 dataframe finished
out of 416, 370 dataframe finished
out of 416, 371 dataframe finished
out of 416, 372 dataframe finished
out of 416, 373 dataframe finished
out of 416, 374 dataframe finished
out of 416, 375 dataframe finished
out of 416, 376 dataframe finished
out of 416, 377 dataframe finished
out of 416, 378 dataframe finished
out of 416, 379 dataframe finished
out of 416, 380 dataframe finished
out of 416, 381 dataframe finished
out of 416, 382 dataframe finished
out of 416, 383 dataframe finished
out of 416, 384 dataframe finished
out of 416, 385 dataframe finished
out of 416, 386 dataframe finished
out of 416, 387 dataframe finished
out of 416, 388 dataframe finished
out of 416, 389 dataframe finished
out of 416, 390 dataframe finished
out of 416, 391 dataframe finished
out of 416, 392 dataframe finished
out of 416, 393 dataframe finished
out of 416, 394 dataframe finished
out of 416, 395 dataframe finished
out of 416, 396 dataframe finished
out of 416, 397 dataframe finished
out of 416, 398 dataframe finished
out of 416, 399 dataframe finished
out of 416, 400 dataframe finished
out of 416, 401 dataframe finished
out of 416, 402 dataframe finished
out of 416, 403 dataframe finished
out of 416, 404 dataframe finished
out of 416, 405 dataframe finished
out of 416, 406 dataframe finished
out of 416, 407 dataframe finished
out of 416, 408 dataframe finished
out of 416, 409 dataframe finished
out of 416, 410 dataframe finished
out of 416, 411 dataframe finished
out of 416, 412 dataframe finished
out of 416, 413 dataframe finished
out of 416, 414 dataframe finished
out of 416, 415 dataframe finished

It took around 21 hours to complete this translation.

In [38]:
#Let's save the dataframes to csv to be used in Data Storytelling

df_concat.to_csv(r'/Users/byungchankim/Downloads/Springboard/capstone1/data/df_concat.csv')

In [40]:
df_concat.tail()

,tconst,primaryTitle,isAdult,startYear,runtimeMinutes,genres,directors,writers,Romance,Documentary,...,Action,Music,Short,Animation,Musical,FilmNoir,TalkShow,Adult,RealityTV,GameShow
415118,tt9916538,Kuambil Lagi Hatiku,0,2019.0,123.0,Drama,nm8185151,"nm4843252,nm4900525,nm2679404",0,0,...,0,0,0,0,0,0,0,0,0,0
415119,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,89.0,Documentary,"nm9272490,nm9272491","nm9272490,nm9272491",0,1,...,0,0,0,0,0,0,0,0,0,0
415120,tt9916680,De la ilusión al desconcierto: cine colombiano 1970-1995,0,2007.0,100.0,Documentary,nm0652213,"nm0652213,nm10538576",0,1,...,0,0,0,0,0,0,0,0,0,0
415121,tt9916706,Dankyavar Danka,0,2013.0,89.0,Comedy,nm7764440,nm7933903,0,0,...,0,0,0,0,0,0,0,0,0,0
415122,tt9916754,Chico Albuquerque - Revelações,0,2013.0,89.0,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",0,1,...,0,0,0,0,0,0,0,0,0,0

Now we are left with 415123 rows.  But there is one more row drops that we need to do. That is dropping all rows of movie data without any ratings.  Ratings is a key feature in our project and we'll need to have this down the road.
However, this does not mean that the movies without rating is of no use.  We'll still keep a copy of the full dataframe during data visualization part of the project.

In [42]:
#make a copy of df_master
df_concat_rate = pd.merge(df_concat,df_rate0,on='tconst')

In [44]:
print(len(df_rate0['tconst'].unique()))
df_concat_rate.info()

236124
<class 'pandas.core.frame.DataFrame'>
Int64Index: 222860 entries, 0 to 222859
Data columns (total 39 columns):
tconst            222860 non-null object
primaryTitle      222860 non-null object
isAdult           222860 non-null int64
startYear         222860 non-null float64
runtimeMinutes    222860 non-null float64
genres            222860 non-null object
directors         222860 non-null object
writers           198671 non-null object
Romance           222860 non-null int64
Documentary       222860 non-null int64
News              222860 non-null int64
Sport             222860 non-null int64
Biography         222860 non-null int64
Drama             222860 non-null int64
Crime             222860 non-null int64
Adventure         222860 non-null int64
Fantasy           222860 non-null int64
Comedy            222860 non-null int64
War               222860 non-null int64
Family            222860 non-null int64
History           222860 non-null int64
SciFi             222860 non-null int64
Western           222860 non-null int64
Thriller          222860 non-null int64
Mystery           222860 non-null int64
Horror            222860 non-null int64
Action            222860 non-null int64
Music             222860 non-null int64
Short             222860 non-null int64
Animation         222860 non-null int64
Musical           222860 non-null int64
FilmNoir          222860 non-null int64
TalkShow          222860 non-null int64
Adult             222860 non-null int64
RealityTV         222860 non-null int64
GameShow          222860 non-null int64
Unnamed: 0        222860 non-null int64
averageRating     222860 non-null float64
numVotes          222860 non-null int64
dtypes: float64(3), int64(31), object(5)
memory usage: 68.0+ MB

The reason we are seeing 222860 rows rather than 236124 after the merge is because this is an inner join.  And by removing rows that has null Genres or Directors, we have removed some movie data that had ratings available.  
Thankfully is it not that much.

In [45]:
# Unnamed: 0 column from df_rate0 was carried over. We will drop this.
df_concat_rate.drop("Unnamed: 0", axis=1, inplace=True)

In [ ]:
#Let's save the dataframe to be used in Data Storytelling
df_concat_rate.to_csv(r'/Users/byungchankim/Downloads/Springboard/capstone1/data/df_concat_rate.csv')